In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
file_path = "data\\train.csv"

df = pd.read_csv(file_path)

In [7]:
df.head()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0

In [14]:
df.shape

(75973, 14)

In [11]:
df.columns

Index(['carID', 'Brand', 'model', 'year', 'price', 'transmission', 'mileage',
       'fuelType', 'tax', 'mpg', 'engineSize', 'paintQuality%',
       'previousOwners', 'hasDamage'],
      dtype='object')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75973 entries, 0 to 75972
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           75973 non-null  int64
 1   Brand           74452 non-null  object
 2   model           74456 non-null  object
 3   year            74482 non-null  float64
 4   price           75973 non-null  int64
 5   transmission    74451 non-null  object
 6   mileage         74510 non-null  float64
 7   fuelType        74462 non-null  object
 8   tax             68069 non-null  float64
 9   mpg             68047 non-null  float64
 10  engineSize      74457 non-null  float64
 11  paintQuality%   74449 non-null  float64
 12  previousOwners  74423 non-null  float64
 13  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(2), object(4)
memory usage: 8.1+ MB

In [21]:
round(df.describe().T, 2)

,count,mean,std,min,25%,50%,75%,max
carID,75973.0,37986.00,21931.66,0.00,18993.00,37986.0,56979.0,75972.00
year,74482.0,2017.10,2.21,1970.00,2016.00,2017.0,2019.0,2024.12
price,75973.0,16881.89,9736.93,450.00,10200.00,14699.0,20950.0,159999.00
mileage,74510.0,23004.18,22129.79,-58540.57,7423.25,17300.0,32427.5,323000.00
tax,68069.0,120.33,65.52,-91.12,125.00,145.0,145.0,580.00
mpg,68047.0,55.15,16.50,-43.42,46.30,54.3,62.8,470.80
engineSize,74457.0,1.66,0.57,-0.10,1.20,1.6,2.0,6.60
paintQuality%,74449.0,64.59,21.02,1.64,47.00,65.0,82.0,125.59
previousOwners,74423.0,1.99,1.47,-2.35,1.00,2.0,3.0,6.26
hasDamage,74425.0,0.00,0.00,0.00,0.00,0.0,0.0,0.00

In [30]:
df.describe(include="object").T

              count unique     top   freq
Brand         74452     72    Ford  14808
model         74456    735   Focus   6353
transmission  74451     40  Manual  38050
fuelType      74462     34  Petrol  37995


- **COL year**
  - Diistribuição concentrada em torno da média. No enunciado é dito a bd é relativa ao ano de 2020 no entanto o valor maximo é 2024?
  - Faz sentido ter modelos depois de 2020?
  - Cerca de 1500 valores nulos.
  - Tranformar em int.

- **COL price**
  - Distribuição extremamente dispersa. Valor máximo muito alto a comparar com valor médio e quartis, indicativo da existencia de outliers.

- **COL mileage**
  - Distribuição extremamente dispersa. Valor do desvio padrão é praticamente igual ao da média. Novamente o valor maximo parece indicar a existência de outliers.
  - Valores negativos??
  - Cerca de 1500 valores nulos.

- **COL tax**
  - Cerca de 7000 valore nulos.
  - Valores negativos?? Necessario contextualização. Numa primeira analise não faz muito sentido dado que o valor está expresso em libras.

- **COL mpg**
  - Cerca de 7000 valore nulos.
  - Valores negativos?? Necessario contextualização. Numa primeira analise não faz muito sentido dado que o valor está expresso em Gallon (3.78541178 L).
  - Meter coluna em Litros.

- **COL engineSize**
  - Valores negativos?? Coluna em dm³ = L.
  - GPT: A cilindrada do motor (ou engine size) mede o volume total dos cilindros de um motor — ou seja, o espaço por onde o combustível e o ar são misturados e queimados.
  - Vamos esclarecer as unidades:
    - 1 litro (L) = 1 decímetro cúbico (dm³) = 1.000 centímetros cúbicos (cm³)
  - Portanto:
    - Um motor 1.0 L tem 1.000 cm³ de cilindrada.
    - Um motor 1.6 L tem 1.600 cm³.
    - Um motor 2.0 L tem 2.000 cm³.

- **COL paintQuality%**
  - Cerca de 1500 valores nulos.
  - MAX > 100% ?? Não faz muito sentido.

- **COL previousOwners**
  - Cerca de 1500 valores nulos.
  - Valores negativos??
  - Tranformar em int.

- **COL hasDamage**
  - Coluna boolean, mas todos os valores são 0.
  - Redundante

- **Col year**
  - Variável categórica ordinal
  - Converter de float -> int (arredondar para cima ou baixo)

- **Col mileage**
  - Garantir que mileage > 0 (Nan ou 0)
  - Converter de gallons -> litros (L)

- **Col tax**
  - Verificar se tax > 0 (necessário conhecimento de negócio)

- **Col engineSize**
  - Garantir que engineSize > 0 (Nan ou 0)

- **Col paintQuality%**
  - Garantir que paintQuality% <= 100% (100% ou Nan)

- **Col previousOwners**
  - Variável categórica ordinal
  - Converter de float -> int (arredondar para cima ou baixo)

- **Col hasDamage**
  - Redundante
  - Remover coluna

- **Valores nulos**
  - Avaliar e tratar valores faltantes em cada coluna

In [35]:
sum(df["carID"].duplicated())

0

In [62]:
df["previousOwners"].unique()

array([ 4.        ,  1.        , -2.34030622,  3.        ,  0.        ,
        2.        ,         nan, -2.34565   ,  6.25837066, -2.33512284,
        6.22789796,  6.25823052,  6.23017958, -2.33936045,  6.21772443,
        6.24583495, -2.29943868, -2.34010209, -2.31225953,  6.2482512 ,
       -2.31733109,  6.23308217,  6.24177863, -2.33744529])

In [63]:
df["year"].unique()

array([2016.        , 2019.        , 2018.        , 2014.        ,
       2017.        , 2020.        , 2013.        ,           nan,
       2015.        , 2023.36707842, 2011.        , 2012.        ,
       2023.1169636 , 2003.        , 2009.        , 2007.        ,
       2005.        , 2011.11118842, 2011.21085349, 2023.97731126,
       2004.        , 2010.        , 2010.56500919, 2008.        ,
       2024.12175905, 2006.        , 2023.60527574, 2023.38982198,
       2010.67696784, 2001.        , 2000.        , 2023.26798867,
       2010.26863473, 2010.37154646, 2002.        , 2022.69668507,
       2009.81675711, 2010.7464032 , 2012.69574039, 1996.        ,
       1998.        , 2022.87800554, 1970.        , 1999.        ,
       1997.        ])

In [ ]:
col_c = df.columns[(df.dtypes == "object") | (df.nunique() < 20)].tolist()
col_n = df.columns.difference(col_c).tolist()

In [ ]:
col_n

['carID',
 'engineSize',
 'mileage',
 'mpg',
 'paintQuality%',
 'previousOwners',
 'price',
 'tax',
 'year']

In [47]:
col_c

['Brand', 'model', 'transmission', 'fuelType', 'hasDamage']

In [70]:
unique_values = df[col_c].apply(lambda x: x.unique()).to_dict()

for col, values in unique_values.items():
    print(f"{col}:\n{values}\n")

Brand:
['VW' 'Toyota' 'Audi' 'Ford' 'BMW' 'Skoda' 'Opel' 'Mercedes' 'FOR'
 'mercedes' 'Hyundai' 'w' 'ord' 'MW' 'bmw' nan 'yundai' 'BM' 'Toyot' 'udi'
 'Ope' 'AUDI' 'V' 'opel' 'pel' 'For' 'pe' 'Mercede' 'audi' 'MERCEDES'
 'OPEL' 'koda' 'FORD' 'Hyunda' 'W' 'Aud' 'vw' 'hyundai' 'skoda' 'ford'
 'TOYOTA' 'ercedes' 'oyota' 'toyota' 'SKODA' 'Skod' 'HYUNDAI' 'kod' 'v'
 'for' 'SKOD' 'aud' 'KODA' 'PEL' 'yunda' 'or' 'UDI' 'OYOTA' 'HYUNDA' 'mw'
 'OPE' 'mercede' 'ERCEDES' 'ercede' 'TOYOT' 'MERCEDE' 'ORD' 'ud' 'ope'
 'AUD' 'hyunda' 'skod' 'toyot']

model:
[' Golf' ' Yaris' ' Q2' ' FIESTA' ' 2 Series' '3 Series' ' A3' ' Octavia'
 ' Passat' ' Focus' ' Insignia' ' A Clas' ' Q3' ' Fabia' ' A Class' ' Ka+'
 ' 3 Series' ' GLC Class' ' I30' ' C Class' ' Polo' ' E Class' ' C Clas'
 ' Q5' ' Up' ' Fiesta' ' C-HR' ' Mokka X' ' Corsa' ' Astra' ' TT'
 ' 5 Series' ' Aygo' ' 4 Series' ' SLK' ' Viva' ' T-Roc' 'Focus'
 ' EcoSport' ' Tucson' ' EcoSpor' nan ' X-CLASS' ' CL Class' ' IX20'
 ' i20' ' Rapid' ' a1' ' Auris' ' sharan' ' I20' ' Adam' ' X3' ' A8'
 ' GLS Class' ' B-MAX' ' A4' ' Kona' ' I10' ' A1' ' Mokka' ' fiesta'
 ' S-MAX' ' X2' ' Crossland X' ' Tiguan' ' A5' ' GLE Class' ' C CLASS'
 ' mokka x' ' Zafira' ' Ioniq' ' A6' ' Mondeo' ' Yeti Outdoor' ' X1'
 'POLO' ' INSIGNIA' ' Scala' ' S Class' ' 1 Series' ' Kamiq' ' Kuga'
 ' Tourneo Connect' ' Q7' ' GLA Class' ' Arteon' ' polo' ' SL CLASS'
 'Tucson' ' Santa Fe' ' Grandland X' ' I800' ' ASTRA' ' RAV4' ' c class'
 ' Touran' ' Citigo' ' Focu' ' Roomster' ' Prius' ' Corolla' ' Fiest'
 ' B Class' ' Sharan' ' Q' ' Kodiaq' ' V Class' ' POLO' ' GOLF' ' E Clas'
 ' Caddy Maxi Life' ' SUPERB' ' Astr' ' Getz' 'T-Roc' ' YARIS'
 ' Combo Life' ' FOCUS' ' Beetle' ' E CLASS' ' PRIUS' 'Fabia' ' Galaxy'
 ' M3' ' GTC' ' 2 series' '1 Series' ' 1 SERIES' ' X4' 'Golf' 'Auris'
 ' KA' ' IX35' ' 3 Serie' 'E Class' ' Grand Tourneo Connect' ' Shara'
 ' M4' ' 3 series' ' Tourneo Custom' 'Touran' ' Superb' ' focus'
 '5 Series' ' Z4' ' 2 serie' ' X5' ' Meriva' ' Octavi' ' yeti outdoor'
 ' Kug' ' RS6' ' Verso' ' Touareg' ' MONDEO' ' Shuttle' ' CLS Class'
 ' C-MAX' ' Mokka ' ' Puma' ' CLA Class' ' I40' ' q3' ' x1' 'X5'
 ' Tiguan Allspace' ' 6 Series' ' Caravelle' ' crossland x' ' 4 SERIES'
 ' Karoq' ' a5' ' I3' 'A4' ' Mokk' 'Ka+' ' Grand C-MAX' ' Pol'
 ' GRAND C-MAX' ' T-Cross' ' 4 Serie' 'Astra' 'Q3' ' viva' ' 4 serie'
 ' A7' ' GLE Clas' ' Golf SV' 'A Class' ' A' ' 1 Serie' ' KUGA' ' Gol'
 ' Agila' ' AURIS' ' Ayg' ' GT86' 'C Class' ' astra' ' corsa' ' Yeti'
 ' California' '4 series' ' X' 'A5' 'Touareg' ' Land Cruiser' ' MOKKA X'
 ' a4' ' EDGE' ' i10' ' 5 Serie' ' X6' 'Toura' 'Karoq' ' Caddy Life'
 ' rav4' ' 8 Series' 'GLC Class' 'Polo' ' Fusion' ' GL Class' ' Scirocco'
 ' TOURAN' ' kuga' ' Z3' ' SL CLAS' ' fabia' ' Kodia' 'ASTRA' ' tiguan'
 '2 Series' ' PROACE VERSO' ' hilux' ' Passa' ' Hilux' 'GLA Class'
 ' Amarok' ' FABIA' ' Edge' 'CLA Class' ' CC' ' x5' ' Insigni' ' 7 Series'
 'Q5' ' Avensis' ' 5 SERIES' 'Meriva' ' Eos' ' M Class' 'Yaris' ' VERSO'
 'A1' ' Grandland ' 'Mondeo' 'Corsa' ' Zafira Tourer' ' ECOSPORT' ' RS5'
 'Tiguan' 'A3' ' TUCSON' ' R8' ' b class' '4 Series' ' Mustang' ' V Clas'
 ' 5 series' 'GLE Class' ' Tigua' ' I1' ' cl class' ' B-MA' 'Grandland X'
 'Viva' 'Kuga' ' Antara' ' Q8' ' Ka' ' T-RO' ' Camry' ' FOCU'
 ' YETI OUTDOOR' ' 1 series' ' Rapi' ' auris' 'Fiesta' 'RAV4' ' CLK'
 'Mokka X' ' mondeo' ' RS3' ' a3' ' a class' ' Jetta' ' e class'
 ' 3 SERIES' 'focus' 'Golf SV' ' m class' ' i3' ' golf' ' Kadjar' ' Cors'
 ' Zafira Toure' ' q5' ' GLC CLASS' 'U' ' PASSAT' ' MERIVA' 'A6' ' Yari'
 ' SQ5' ' slk' ' B Clas' ' KAMIQ' ' aygo' 'Mokka' 'Prius' ' passat'
 ' A CLASS' ' VIVA' ' rapid' ' mokka ' ' insignia' ' mokka' ' Citig'
 ' S-MA' ' RS4' ' puma' ' ayg' ' Supra' ' x2' ' AYGO' ' 4 series' 'golf'
 ' GALAXY' ' Tucso' ' i8' ' X7' ' Galax' ' t-roc' ' Super' ' sq7'
 ' G Class' ' i30' ' C-H' ' 2 SERIES' ' GLA CLASS' ' KONA' ' OCTAVIA'
 ' x-clas' ' x3' 'I10' ' grandland x' ' GLC Clas' ' S3' 'Insignia' 'Focu'
 ' COMBO LIFE' 'I40' ' I80' ' tt' 'Zafira' ' Crossland ' 'B-MAX'
 ' 2 Serie' ' Arteo' ' Tigra' ' CORSA' ' Escort' ' GLB Class' ' 3 serie'
 ' c-hr' ' SCALA' ' MONDE' ' yaris' ' GLA Clas' ' CL Clas' ' Vivaro'
 ' Verso-S' 'gtc' ' Monde' ' corolla' ' 7 Serie' ' T-Ro' ' up' ' X-CLAS'
 'Adam' ' gla class' ' TOUAREG' ' Ioni' ' T-Cros' 'Passat' ' gle class'
 ' Viv' ' M5' '2 Serie' ' kodiaq' ' x-class' ' Veloste' 'Superb'
 ' Santa F' 'Aygo' ' Zafir' 'Octavia' 'C-MAX' ' S4' ' T-ROC' ' UP'
 ' citigo' ' Yeti Outdoo' ' edge' ' Auri' ' santa fe' ' mustang' 'Citigo'
 ' q7' ' Fabi' ' q2' ' IQ' ' glc class' 'RAV' ' A2' ' gt86' ' CL CLASS'
 ' yeti' 'Hilux' ' TIGUAN' ' Caddy Maxi' '200' 'SL CLASS' ' CITIGO'
 ' amarok' 'Up' ' verso' ' scirocco' 'Ioniq' 'Q8' ' U' 'Arteon' ' superb'
 'Q7' ' T-CROSS' ' KA+' ' Streetka' ' Roomste' ' ZAFIRA' ' ecosport'
 'Scala' ' v class' ' ka+' ' x' ' KAMI' ' c-max' ' karoq' ' Caddy' 'polo'
 'Z4' 'B Class' ' galaxy' ' octavia' ' TIGUAN ALLSPACE' ' KAROQ' ' ka'
 ' caravelle' ' Cascada' 'GTC' ' scala' ' s-max' 'C-HR' 'kodiaq' 'B-MA'
 ' C-MA' ' Accent' 'CLS Class' ' tourneo custom' ' cls class' ' touareg'
 ' KODIAQ' 'TT' ' Karo' ' 6 SERIES' ' b-max' ' SCIROCCO' ' shuttle' ' Kon'
 'Octavi' ' tourneo connect' ' Scirocc' ' a6' 'S Class' ' PUMA'
 ' grand c-max' ' S8' ' RS' ' touran' 'Q2' 'C Clas' 'Kona' ' a' 'X2'
 ' CROSSLAND X' ' gol' ' tiguan allspace' ' Golf S' ' RAV' ' K' ' S Clas'
 ' SANTA FE' ' Grand C-MA' ' Toura' 'E CLASS' 'S-MAX' 'M3' ' Beetl' 'rav4'
 'I20' ' COROLLA' ' s3' ' zafira' 'Mustang' ' V CLASS' 'x1' ' a7'
 'Santa Fe' 'EcoSport' ' tucson' 'Beetle' ' TIGUA' ' Ada' ' INSIGNI'
 ' grandland ' ' adam' 'SLK' ' Z' ' CLS Clas' 'Amarok' ' s class'
 'a class' ' SQ7' ' AVENSIS' ' Ranger' 'Crossland X' 'fiesta' 'X6' 'Fiest'
 ' golf s' ' golf sv' ' I2' 'Scirocco' ' MOKKA' ' Grand Tourneo Connec'
 ' M' 'RS6' ' S CLASS' ' Meriv' 'Zafir' ' Caravell' 'Pol' ' C CLAS' ' cc'
 'Verso' '220' ' super' 'A8' ' VECTRA' ' combo life' '5 SERIES' ' B CLASS'
 ' CLS CLASS' ' KON' ' Tiguan Allspac' ' IONIQ' ' CLA CLASS' 'Sharan'
 ' ix20' 'Insigni' 'Tourneo Connect' ' Scal' ' 6 series' ' 8 Serie' '230'
 'UP' 'Galaxy' ' scal' ' Ampera' 'T-Cross' 'FIESTA' ' Fox' 'Fusion'
 ' Urban Cruiser' 'astra' 'b class' 'a8' ' GLS Clas' ' ADAM' ' avensis'
 ' Amaro' 'I30' 'Arteo' ' M2' ' T' ' M CLASS' ' kona' 'M Class' 'IONIQ'
 'Tigua' '6 Series' ' Coroll' '1 SERIES' ' 1 SERIE' ' Combo Lif' 'Golf S'
 'Roomster' ' cors' ' GL CLASS' 'CC' 'X1' ' Caddy Maxi Lif' 'aygo' ' yari'
 'X7' 'X3' ' prius' ' kamiq' ' TUCSO' ' M Clas' 'Z3' 'Supra' ' t-cros'
 'Yari' ' sl class' ' Touare' ' i40' 'CL Class' ' YARI' ' GOL' ' meriva'
 'Yeti Outdoor' ' CORS' 'c class' 'A CLASS' ' GLS CLASS' 'TIGUAN' ' S5'
 'COMBO LIFE' ' Tourneo Custo' ' a clas' 'corsa' 'e class' ' Edg' 'Tucso'
 ' 7 SERIES' 'A7' ' Yet' 'i3' ' IX2' 'FABIA' ' c clas' '1 series' ' focu'
 ' 1 serie' ' TOURA' 'Corolla' ' SL' ' i' 'Vectra' ' 7 series' 'q5'
 ' CLC Class' ' GOLF SV' 'KA' 'tiguan' ' M6' 'CLK' ' gtc' ' SHARAN' 'Gol'
 ' Hilu' ' GLE CLASS' 'M5' ' gls class' 'Mokka ' '3 Serie' ' glc clas'
 ' ix35' 'IX35' 'V Class' ' Urban Cruise' 'Rapid' 'Combo Life' ' z4'
 ' ioniq' ' GRANDLAND X' ' t-cross' 'corolla' 'R8' 'Mokk' 'octavia'
 ' 6 Serie' ' JETTA' ' Land Cruise' 'ka+' ' rav' 'Grand C-MAX' ' 8 series'
 'RS3' 'kuga' ' cla class' ' ARTEON' ' r8' ' beetle' ' gl class' 'Yeti'
 'GL Class' 'IX20' ' Vectra' ' 8 SERIES' ' Vers' ' Terracan'
 ' ZAFIRA TOURER' 'Kodiaq' 'Zafira Tourer' ' m3' ' AYG' 'Avensis' ' s-ma'
 'X4' ' m4' 'yaris' 'FOCUS' ' arteon' ' glb class']

transmission:
['Semi-Auto' 'Manual' 'anual' 'Semi-Aut' 'Automatic' 'manual' nan
 'unknown' 'Manua' 'AUTOMATIC' 'MANUAL' 'semi-auto' ' Manual ' 'automatic'
 'emi-Auto' 'SEMI-AUTO' 'SEMI-AUT' 'Automati' 'ANUAL' 'utomatic' 'unknow'
 'EMI-AUTO' 'manua' 'anua' 'emi-Aut' 'MANUA' 'emi-auto' 'UTOMATIC'
 ' manual ' ' MANUAL ' 'UNKNOWN' 'nknown' 'automati' 'Other' 'semi-aut'
 ' Manual' 'AUTOMATI' 'utomati' 'Manual ' 'manual ' 'nknow']

fuelType:
['Petrol' 'Diesel' 'etrol' 'Hybrid' 'diesel' 'iesel' nan 'petrol' 'PETROL'
 'Diese' 'Petro' 'DIESEL' 'petro' 'HYBRID' 'ybri' 'Other' 'DIESE' 'Hybri'
 'ETROL' 'ybrid' 'PETRO' 'hybrid' 'IESEL' 'Electric' 'ther' 'iese' 'etro'
 'ETRO' 'diese' 'Othe' 'YBRID' 'HYBRI' 'OTHER' 'other' 'IESE']

hasDamage:
[ 0. nan]

Categoricas Formatação:
    Aplicavel a todas as colunas:
    - Formatar tudo para minusculas ou no mesmo formato. Coerencia.
    - Valores com erros de inserção. Ou falta a primeira letra ou a ultima ou apenas consta parte da str. Pode ser resolvido com Substr()
    - Valores Incorretos? Apenas uma letra. "or", "w", "v", ...? 
    - nan